<header class="pb-4">
    <span class="w-full flex justify-between">
        <h1 style="font-weight:600; font-size:15px">{{.Title}}</h1>
        <!-- <span style="float: right">~ / <a href=".">index</a></span> -->
    </span>
    <div class="w-full" style="padding-bottom: 4px; border-bottom: 1px solid var(--gray-1)"></div>
</header>

<!-- <header> -->
<!--   <span id="header-name" onclick="window.location.href='/'" style="cursor:pointer">{{ .Site.Params.Author }}</span> -->

<!--   <div id="socialpanel"> -->
<!--     <a href="https://www.jemoka.com/search/" class="header-social" id="header-search"><i class="ic fa-solid fa-magnifying-glass"></i></i></a> -->
<!--     <a href="https://github.com/Jemoka/" class="header-social" id="header-github"><i class="ic fa-brands fa-github"></i></a> -->
<!--     <a href="https://bsky.app/profile/jemoka.com" class="header-social" id="header-twitter"><i class="ic fa-brands fa-bluesky"></i></a> -->
<!--     <a href="https://www.reddit.com/user/Jemoka/" class="header-social" id="header-reddit"><i class="ic fa-brands fa-reddit"></i></a> -->
<!--   </div> -->

<!-- </header> -->
